#map{
    height: 130%;
    position: absolute;
    width: 100%;
}
#screm{
    height: 80%; position: relative; width: 100%;
}

#picDisplay{
    width: 100%;
}

#title {
    
    font-size:150%;
    height: 15%;
    width: 90%;
    border-color: black;
    border-width: 2px;
}

#comment {
    
    font-size:150%;
    height: 30%;
    width: 90%;
    border-color: black;
    border-width: 2px;
}

.card-header {
    
    background-color: aliceblue;
    border-color: darkgray;
    border-width: 2px;
    
}

div.card-content {
    
   
    background-color: aliceblue;
    border-color: darkgray;
    border-width: 2px;
    width: 100%;
    padding: 10px;

    
}

.ep{
    
     width: 100%;
    
}
